@mixin text-type-1 {
  color: rgba(19, 19, 19, 0.70);
  font-size: 2rem;
  letter-spacing: 1px;

  @screen md {
    font-size: 1.4rem;
  }
}

@mixin text-type-2 {
  font-size: 6.4rem;
  color: #131313;
  font-weight: 800;

  @screen md {
    font-size: 2.4rem;
  }
}